/* https://mountaintop-coding.s3-us-west-1.amazonaws.com/images/Mountain+Top.JPG*/

.shwank {
    background-color: "yellow",
}

body {
    font-family: Palatino;
    background-image: url("https://s3-us-west-1.amazonaws.com/mountaintop-coding/images/sayagata-400px.png");
    }