.header {
  height: 100px;
}

/* .content {
  max-width: 500px;
  margin: auto;
} 
pushes part of the page to the center, but not the NavBar or the image... 🤔
*/

.image {
    border-radius: 50%;
    max-width: 500px;
    margin: auto;
  }
/*
  .logo {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
body {
    margin: 0;
}